<div class="container">
  <div class="d-flex justify-content-center">
    <h2>Filter section</h2>
  </div>
  <div class="d-flex justify-content-center">
    <input
      type="text"
      id="usernameFilter"
      [(ngModel)]="usernameFilter"
      placeholder="Username ..."
      (input)="applyFilters()"
    />
    <input
      type="text"
      id="fullnameFilter"
      [(ngModel)]="fullnameFilter"
      placeholder="Full Name ..."
      (input)="applyFilters()"
    />
    <input
      type="text"
      id="nationalNumberFilter"
      [(ngModel)]="nationalNumberFilter"
      placeholder="National Number ..."
      (input)="applyFilters()"
    />
  </div>

  <div class="d-flex justify-content-center mt-4">
    <input
      class="me-1"
      type="checkbox"
      id="userTypeUserFilter"
      [(ngModel)]="userTypeUserFilter"
      (change)="applyFilters()"
    />
    User

    <input
      class="ms-3 me-1"
      type="checkbox"
      id="userTypeAdminFilter"
      [(ngModel)]="userTypeAdminFilter"
      (change)="applyFilters()"
    />
    Admin
    <span class="ms-5 me-5"></span>
    <input
      class="me-1"
      type="checkbox"
      id="genderFilter"
      [(ngModel)]="maleFilter"
      (change)="applyFilters()"
    />
    Male
    <input
      class="ms-3 me-1"
      type="checkbox"
      id="genderFilter"
      [(ngModel)]="femaleFilter"
      (change)="applyFilters()"
    />
    Female
  </div>
</div>
