.container {
  background-color: dddbdb;
  border: 1px solid #dddbdb;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
}
h2 {
  font-weight: 900;
}

input[type="text"] {
  width: 25%;
  color: rgb(36, 35, 42);
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
}

input[type="text"]:focus {
  border: 2px solid rgb(124, 138, 255);
}

input[type="checkbox"] {
  border: 1px solid blue;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}
