/* login.component.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(163, 177, 198, 0.6),
    -10px -10px 20px rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 0.5rem;
}

input {
  border: none;
  background-color: #f0f0f0;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgba(163, 177, 198, 0.4),
    inset -5px -5px 10px rgba(255, 255, 255, 0.5);
}

button {
  margin-top: 1rem;
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(86, 100, 121, 0.4),
    -5px -5px 10px rgba(86, 100, 121, 0.4);
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.error-message {
  color: red;
  margin-top: 1rem;
}
